<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Machi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C5FC0EE1C8ABCE40038EA11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C5FC1021C8ABCE40038EA11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C5FC10D1C8ABCE40038EA11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
